In [34]:
import re

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv('food_coded.csv')

In [7]:
print(f'{data.shape[1]}col  x {data.shape[0]} row')

61col  x 125 row

In [8]:
data

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [24]:
def clean_numerical_column(col):
    col = col.replace('Unknown', np.nan)
    col = col.replace('nan', np.nan)
    col = col.replace('Personal', np.nan)
    col = col.replace(r'[^0-9.+-]', '', regex=True)
    
    col = pd.to_numeric(col, errors='coerce')
    
    return col

In [25]:
correction_dict = {
    
}

In [30]:
def clean_categorical_text(text, correction_dict):
    text = str(text).lower()
    
    for a, b in correction_dict.items():
        text = re.sub(r'\b' + re.escape(a) + r'\b', b, text)
    
    return text

In [37]:
def clean_categorical_text_column(data, col):
    data[col] = data[col].apply(lambda x: clean_categorical_text(x, correction_dict))
    ## Ça marche mais trop de valeur différente, il faudrai passer plus de temps sur le formattage. 
    
    #data[col] = data[col].apply(lambda x: x.split(', '))

    
    #all_elements = set(element for sublist in data[col] for element in sublist)
    #for element in all_elements:
    #    data[element] = data[col].apply(lambda x: 1 if element in x else 0)

In [38]:
cleaned_data = data

In [39]:
def plot_numerical_pie(data, col, labels):
    data['label'] = data[col].map(labels)
    
    label_counts = data['label'].value_counts()
    
    plt.figure(figsize=(8, 8))
    plt.pie(label_counts, labels=label_counts.index, autopct='%1.1f%%', startangle=140)
    plt.title(f'{col}')
    plt.show()

In [46]:
def plot_numerical_histogram(data, col):
    #histo = data[col].value_counts()
    
    plt.figure(figsize=(8, 8))
    plt.hist(data[col].dropna(), bins=20)
    plt.title(f'{col}')
    plt.grid(True)
    plt.show()

In [47]:
cleaned_data['GPA'] = clean_numerical_column(cleaned_data['GPA'])
cleaned_data['Gender'] = clean_numerical_column(cleaned_data['Gender'])
cleaned_data['breakfast'] = clean_numerical_column(cleaned_data['breakfast'])
cleaned_data['calories_chicken'] = clean_numerical_column(cleaned_data['calories_chicken'])
cleaned_data['calories_day'] = clean_numerical_column(cleaned_data['calories_day'])
cleaned_data['calories_scone'] = clean_numerical_column(cleaned_data['calories_scone'])
cleaned_data['coffee'] = clean_numerical_column(cleaned_data['coffee'])
cleaned_data['comfort_food'] = clean_categorical_text_column(cleaned_data, 'comfort_food')
clean_categorical_text_column(cleaned_data, 'comfort_food_reasons')

cleaned_data

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight,label
0,2.400,2,1,430,NaN,315.0,1,None,we dont have comfort,9.0,...,1.0,1,1165.0,345,car racing,5,1,1315,187,Male
1,3.654,1,1,610,3.0,420.0,2,None,"stress, bored, anger",1.0,...,1.0,2,725.0,690,Basketball,4,2,900,155,Female
2,3.300,1,1,720,4.0,420.0,2,None,"stress, sadness",1.0,...,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.,Female
3,3.200,1,1,430,3.0,420.0,2,None,boredom,2.0,...,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240",Female
4,3.500,1,1,720,2.0,420.0,2,None,"stress, boredom, cravings",1.0,...,1.0,4,940.0,500,Softball,4,2,760,190,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.500,1,1,610,4.0,420.0,2,None,boredom and sadness,NaN,...,1.0,5,940.0,500,Softball,5,1,1315,156,Female
121,3.000,1,1,265,2.0,315.0,2,None,loneliness / homesick / sadness,NaN,...,NaN,4,940.0,500,basketball,5,2,1315,180,Female
122,3.882,1,1,720,NaN,420.0,1,None,sadness,NaN,...,2.0,5,580.0,690,none,4,2,1315,120,Female
123,3.000,2,1,720,4.0,420.0,1,None,"happiness, they are some of my favorite foods",NaN,...,2.0,1,940.0,500,NaN,3,1,1315,135,Male
124,3.900,1,1,430,NaN,315.0,2,None,"hormones, premenstrual syndrome.",NaN,...,2.0,2,725.0,345,NaN,4,2,575,135,Female

In [44]:
# GPA 
gender_dict = {
    1: 'Female',
    2: 'Male'
}
plot_numerical_pie(cleaned_data, 'Gender', gender_dict)

In [48]:
plot_numerical_histogram(cleaned_data, 'calories_chicken')